


.form-input {
  text-align: center;
  padding-top: 145px;
}

button {
  margin-left: 5px;

}

input {
  border: orangered;
  border-style: outset;
  border-radius: 5px;
}

.toggle-button {
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 200px;
}

.prime-title {
  padding-right: 20px;
}

.prime-mode {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

.results {
  text-align: center;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
}
